<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>about</title>
</head>

<body>
    <h1>about</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi et sunt explicabo reprehenderit maxime quisquam
        dolorem consectetur repellat dicta ea aliquid dolore non labore veniam, modi officiis eveniet, odit quos.</p>
</body>

</html>